.row
  .col-md-5
    .count-text Total Images Count
  .col-md-5.col-md-offset-2
  #photo_counter
    %span.count
%h1 Image Gallery
.ajax-progress
%h2= link_to "Add Gallery", new_gallery_path, class: "btn btn-default"
.importImage
  %h3 Import Images
  = form_tag  import_galleries_path, multipart: true do
    = file_field_tag :file
    %br/
    = submit_tag "Import CSV"
#photo_index
  = render 'index', photos: @galleries
#myModal.modal.fade{:role => "dialog"}
  .modal-dialog
= paginate @galleries



:javascript
  $(document).ready(function() {
    $(".count-text").css("color", "orange");
      $.ajax({
        type: "get",
        url: "/galleries/counter",
        dataType: "json",
        success: function (result) {
          $(".count").html("loading...");
          $(".count").html(result);
          $(".count-text").css("color", "green");
          $("#photo_counter").css("background","green")
        },
        error: function (response){
          window.alert("something wrong!");
        }
      });
                                                                                                                                                                                                                                                                                                                                                                         
  });